<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> 
</head>

<body>
<table width="700" border="0" cellspacing="0" cellpadding="0"  align="center" style="font-family:'Roboto', sans-serif;">
  <tbody>
        
          <td colspan="2" style="font-size:30px; font-weight:bold; padding-top:30px;">
          Provider Cor Sale Report
          </td>
          </tr>
          <tr>
          <td colspan="2" style="padding-bottom:20px;" >
          <p>Thanks for choosing iSelect to arrange your electricity & gas connection with 
          AGL.</p>

          </td>
          </tr>
          <tr>
          <td colspan="2" style="padding-bottom:30px;">
          Below are the details of your electricity & gas connection:
          </td>
          </tr>
          
 
        
          

   
          
          <tr>
          <td colspan="2" valign="middle" align="center" style="padding:10px; border-bottom:1px solid #cccc"><a href="#"><img src="1490369519_social-facebook.png" alt=""/></a>
            <a href="#"><img src="1490369542_03-twitter.png" alt=""/></a>
             <a href="#"><img src="1490369542_03-link.png"  alt=""/></a>
              <a href="#"><img src="1490635624_18-youtube.png"  alt=""/></a>
            </td>
          </tr>
          
          <tr>
          <td colspan="2" style="padding-top:20px; padding-bottom:20px;">
          <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
          
 <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">Privacy policy |</a></td>
 <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">Approved product list |</a></td>
          <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">Disclaimer |</a></td>
 <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">Terms and conditions |</a></td>
 <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">Contact us |</a></td>
 <td style=" color:#ccc;font-size:13px;">
<a href="#" style="text-decoration:none; color:#969696">View as webpage |</a></td>
          </tr>
          </table>
          </td>
          </tr>
          
          
         
     </tbody>
</table>


</body>
</html>
